.altcha-widget-wrap {
  margin-bottom: 1rem !important;
}

.forminator-pagination--content + .altcha-widget-wrap {
  margin-top: 1.5rem !important;
}

.altcha-widget-wrap .altcha-main {
  line-height: 1;
}

.altcha-widget-wrap .altcha-main svg {
  display: block;
}

.login .altcha:not([data-floating]) {
  --altcha-max-width: 100%;
}