.altcha-widget-wrap {
  margin-bottom: 1rem !important;
}

.forminator-pagination--content + .altcha-widget-wrap {
  margin-top: 1.5rem !important;
}

.altcha-widget-wrap .altcha-main {
  line-height: 1;
}

.altcha-widget-wrap .altcha-main svg {
  display: block;
}

.altcha-widget-wrap-wpdiscuz {
  display: flex;
  justify-content: end;
  margin-bottom: 0.5rem;
}

.altcha-widget-wrap-wpdiscuz > * {
  min-width: 260px;
}

.login .altcha:not([data-floating]) {
  --altcha-max-width: 100%;
}